body{
    background-color: #1E1E24;
}

.todo-container {
    border: 2px solid #A35709;
    margin: 40px 100px;
    width: 1000px;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #242320;
    color: #FFFFFF;
    }
    
    .todo-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1.5px solid #A35709;
    border-radius: 8px;
    width: 33%;
    margin: 1% 1%;
    }
    
    .todo-text {
    flex: 1;
    cursor: pointer;
    }
    
    .icons {
    display: flex;
    .delete-icon{
        border-radius: 8px;
        border: 1px solid #A35709;
        margin-right: 8px; 
        padding: 5px;
        &:hover{
            background-color: #FF8303;
        }
    }
    
    .edit-icon{
        border-radius: 8px;
        border: 1px solid #A35709;
        padding: 5px;
        margin-right: 8px; 
        &:hover{
            background-color: #FF8303;
        }
    }
    }
    
    .delete-icon {
    cursor: pointer;
    }
    
    .edit-icon {
    cursor: pointer;
    }
    
    .no-tasks {
        margin-top: 70px;
        margin-right: 5px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        border-radius: 10px ;
        border-top: 3px solid #FF8303;
        border-bottom: 3px solid #FF8303;
        color: #FFFFFF;
        background-color: #242320;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        }
    @media (min-width: 600px) {
    .todo-container .todo-row {
    width: 33%;
    }
    }
    
    @media (max-width: 599px) {
    .todo-container .todo-row {
    width: 100%;
    margin: 1% 1%;
    }
    }
    
    /* Mobile Responsive */
    
    @media (max-width: 600px) {
    .todo-container {
    border: none;
    background-color: transparent;
    margin: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 90%;
    height: auto;
    }
    .todo-row {
    border: 2px solid #A35709;
    background-color: #242320;
    width: 100%;
    margin: 2% 0;
    padding: 10px;
    flex-wrap: nowrap;
    }
    .todo-text {
    flex: none;
    width: 75%;
    }
    .icons {
        width: 20%;
        margin-right: 10px;
        .delete-icon{
            background-color: #1E1E24;
            border-radius: 8px;
            border: 1px solid #A35709;
            margin-right: 8px;    
        }
        .edit-icon{
            background-color: #1E1E24;
            border-radius: 8px;
            border: 1px solid #A35709;
            margin-right: 8px;  
        }
    }
    .no-tasks {
        margin-top: 70px;
        margin-right: 5px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        border-radius: 10px ;
        border-top: 3px solid #FF8303;
        border-bottom: 3px solid #FF8303;
        color: #FFFFFF;
        background-color: transparent;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        }
    }
    